<mat-toolbar color="warn">
  <a routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
  </a>
  <span class="example-spacer">Portal Luis</span>

  <a routerLink="/login" mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
      Iniciar Sesion
  </a>
  <a routerLink="/signup" mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
       Registrar
  </a>

</mat-toolbar>

<div class="bootstrap-wrapper">
    <div class="container">
      <header>
        <h1>BIENVENIDOS</h1>
        <br>
        <br>
        <h2>Soy Luis Dueñas</h2>
        <br>
        <br>
        <p>Este es el proyecto final de la evaluación final AA4 de Soluciones Web</p>
        <br>
        <button type="button" routerLink="/login" mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
         Ingresa
        </button>
    </header>
    </div>
    </div>

